%ul.group_list
  %li
    = link_to "#", class: "group_list__link" do
      .group_list__name
        test1
      .group_list__message
        まだメッセージはありません
  %li
    = link_to "#", class: "group_list__link" do
      .group_list__name
        test2
      .group_list__message
        まだメッセージはありません
