.main_header
  .main_header__group
    .main_header__group_name
      group name
    .main_header__group_member
      Member: user-1 user-2
  %input{type: "submit", value: "Edit", class: "main_header__btn"}