.main_form
  %input{type: "textarea", placeholder: "type a message", class: "main_form__input"}
  %label{class: "main_form__image"}
    = icon('fas', 'image')
    %input{type: "file", class: "main_form__image--hidden"}
  %input{type: "submit", value: "Send", class: "main_form__btn"}
