.main-chat
  .main-chat__header
    .main-chat__header--group
      .main-chat__header--group-name
        group name
      .main-chat__header--group-menber
        Member: user-1 user-2
    %input{type: "submit", value: "Edit", class: "main-chat__header--group-edit-btn"}
  .main-chat__message
    %ul
      %li
        .main-chat__message--header
          .main-chat__message--header-user
            user1
          .main-chat__message--header-date
            2019/11/17(Sun) 14:24:35
        .main-chat__message--message
          まだメッセージはありません
      %li
        .main-chat__message--header
          .main-chat__message--header-user
            user2
          .main-chat__message--header-date
            2019/11/17(Sun) 14:24:50
        .main-chat__message--message
          まだメッセージはありません
