.main-chat
  .main-chat__header
    .main-chat__header--group
      .main-chat__header--group-name
        group name
      .main-chat__header--group-menber
        Member: user-1 user-2
    %input{type: "submit", value: "Edit", class: "main-chat__header--group-edit-btn"}
