.side_header
  .side_header__left_content
    user name    
  .side_header__right_content
    = link_to "#", class: "side_header__right_content--icon" do
      = icon('fas', 'edit')
    = link_to "#", class: "side_header__right_content--icon" do
      = icon('fas', 'cog')