$side-bar-width: 300px;
$main-chat-width: calc(100vw - #{$side-bar-width});
$side-bar-padding: 20px;
$main-chat-padding: 40px;
$header-height: 88px;
$contents-height: calc(100vh - #{$header-height});
$contents-padding: 20px;
$form-height: 90px;
$form-padding: 20px;
$side-bar-color1: #ffffff;
$main-chat-color1: #333333;
$main-chat-color2: #999999;
$main-chat-color3: #434a54;
$btn-color1: #38aef0;
$btn-color2: #ffffff;
$side-bar-bgc1: #253141;
$side-bar-bgc2: #2f3e51;
$main-chat-border: #eeeeee;
$main-chat-bgc1: #fafafa;
$main-chat-bgc2: #ddd;
