$side_bar_width: 300px;
$main-chat-width: calc(100vw - #{$side_bar_width});
$side_bar_padding: 20px;
$main-chat-padding: 40px;
$header_height: 88px;
$contents_height: calc(100vh - #{$header_height});
$group_list_padding: 20px;
$form-height: 90px;
$form-padding: 20px;
$side_bar_color: #ffffff;
$main-chat-color1: #333333;
$main-chat-color2: #999999;
$main-chat-color3: #434a54;
$btn-color1: #38aef0;
$btn-color2: #ffffff;
$side_header_bgc: #253141;
$group_list_bgc: #2f3e51;
$main-chat-border: #eeeeee;
$main-chat-bgc1: #fafafa;
$main-chat-bgc2: #ddd;
$side_header_font: 16px;
$group_list_name_font: 15px;
$group_list_message_font: 11px;

