.group_list
  - current_user.groups.each do |group|
    = link_to "#", class: "group_list__link" do
      .group_list__name
        = group.name
      .group_list__message
        = group.show_last_message
