@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";

.side-bar {
  width: 300px;
  height: 100vh;
  &__header {
    background-color: #253141;
    height: 88px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
    position: fixed;
    top: 0;
    &--left {
      height: 88px;
      text-decoration: none;
      font-size: 16px;
      color: #ffffff;
      line-height: 88px;
      font-weight: bold;
    }
    &--right {
      height: 88px;
      display: flex;
      &-icon {
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
        line-height: 82px;
      }
    }
  }
  &__contents {
    height: calc(100vh - 88px);
    width: 260px;
    background-color: #2f3e51;
    padding: 20px + 88px 20px 0;
    position: fixed;
    top: 88px;
  }
  &__group-list {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
    display: block;
    &--name {
      font-size: 15px;        
    }
    &--message {
      font-size: 11px;
    }
  }
}
.main-chat {
  height: 100vh;
  &__header {
    width: calc(100% - 300px - 40px * 2);
    border-bottom: 1px solid #eeeeee;
    position: fixed;
    top: 0;
    left: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0;
    &--group-name {
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
    }
    &--group-menber {
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
    }
    &--group-edit-btn {
      margin-top: 28px;
      display: block;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      border: 1px solid #38aef0;
      color: #38aef0;
    }
  }
  &__message {
    width: calc(100% - 300px - 40px * 2);
    height: calc(100vh - 88px);
    background-color: #fafafa;
    position: fixed;
    top: 88px;
    left: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0;
    &--header {
      margin-top: 40px;
      display: flex;
      &-user {
        font-size: 16px;
        font-style: bold;
        color: #434a54;
      }
      &-date {
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
      }
      &-message {
        font-size: 14px;
        color: #434a54;
        margin-left: 10px;
      }
    }
  }
}
