@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";

@import "./config/variables";

@mixin button($height) {
  height: $height;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $btn-color1;
  color: $btn-color1;
}
@mixin main-chat {
  width: calc(#{$main-chat-width} - #{$main-chat-padding} * 2);
  padding: 0 $main-chat-padding 0;
  display: flex;
}
.side-bar {
  width: $side-bar-width;
  height: 100vh;
  float: left;
  &__header {
    background-color: $side-bar-bgc1;
    width: $side-bar-width - $side-bar-padding * 2;
    display: flex;
    justify-content: space-between;
    padding: 0 $side-bar-padding 0;
    height: $header-height;
    font-size: 16px;
    color: $side-bar-color1;
    line-height: $header-height;
    &--left {
      font-weight: bold;
    }
    &--right {
      &-icon {
        text-decoration: none;
        color: $side-bar-color1;
        margin-left: 2px;
      }
    }
  }
  &__contents {
    height: calc(#{$contents-height} - #{$contents-padding});
    width: $side-bar-width - $side-bar-padding * 2;
    background-color: $side-bar-bgc2;
    padding: $contents-padding $side-bar-padding 0;
  }
  &__group-list {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: $side-bar-color1;
    margin-bottom: 40px;
    display: block;
    &--name {
      font-size: 15px;        
    }
    &--message {
      font-size: 11px;
    }
  }
}
.main-chat {
  height: 100vh;
  float: right;
  &__header {
    @include main-chat;
    justify-content: space-between;
    border-bottom: 1px solid $main-chat-bgc1;
    &--group-name {
      font-size: 20px;
      color: $main-chat-color1;
      padding-top: 35px;
    }
    &--group-member {
      font-size: 12px;
      color: $main-chat-color2;
      padding-top: 15px;
    }
    &--group-edit-btn {
      $height: 40px;
      @include button($height);
      margin-top: ($header-height - $height)/2;
    }
  }
  &__message {
    @include main-chat;
    height: calc(#{$contents-height} - #{$form-height});
    background-color: $main-chat-bgc1;
    &--header {
      $left-margin: 10px;
      margin-top: 40px;
      display: flex;
      &-user {
        font-size: 16px;
        font-style: bold;
        color: $main-chat-color3;
      }
      &-date {
        font-size: 12px;
        color: $main-chat-color2;
        margin-left: $left-margin;
      }
      &-message {
        font-size: 14px;
        color: $main-chat-color3;
        margin-left: $left-margin;
      }
    }
  }
  &__form {
    @include main-chat;
    padding: $form-padding $main-chat-padding;
    background-color: $main-chat-bgc2;
    &--message {
      height: $form-height - $form-padding * 2;
      width: 100%;
      font-size: 16px;
      color: $main-chat-color3;
      line-height: $form-height - $form-padding * 2;
      padding-left: 10px;
      border: none;
    }
    &--image {
      $icon-size: 22px;
      $margin: 10px;
      position: relative;
      top: ($form-height - $form-padding * 2 - $icon-size)/2;
      right: $icon-size + $margin;
      font-size: $icon-size;
      margin-right: -($icon-size + $margin);
    }
    &--hidden {
      display: none;
    }
    &--send-btn {
      @include button($form-height - $form-padding * 2);
      background-color: $btn-color1;
      border: none;
      color: $btn-color2;
      margin-left: 25px;
    }
  }
}
